* {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

body {
    background-color: lightgrey;
}



h1 {
    text-align: center;
    margin: 10px auto;
    border: 2px black solid;
}

h3 {
    text-align: center;
    text-decoration: darkgreen underline;
}

div {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#informe, #info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 75%;
    text-align: center;
}

.btn  {
    width: 65%;
    margin-top: 10px;
    background-color: greenyellow;
    border-radius: 5px;

}

.btn:hover {
    background-color: indianred;

}

.red {
    border: 2px red solid;
}

.alertaDeudor{
background-color: black;
color: red;
}

h5 {

    background-color:red;
    color: black;
    width: 500;
    height: 250;
    font-size: 30px
    }